---

---

<div class="text-center">
    <div class="flex items-center justify-center gap-10 grid-cols-3">
        <div>
            <img src="/imgs/juank.jpeg" alt="Juan" class="w-1/2 rounded-2xl" />
        </div>
    </div>
    <div>
        <h1 class="text-5xl font-bold mb-4">Bienvenido</h1>
        <p class="text-xl opacity-90">Descubre mi trabajo y experiencia</p>
    </div>
</div>
