---
import Navbar from "./Navbar.astro";
---

<div class="flex justify-center sticky top-0 z-50">
  <Navbar />
</div>
<div class="flex items-center justify-center h-screen">
  <h1 class="text-4xl font-bold">🚀 ¡Hola mundo con Astro + TailwindCSS!</h1>
</div>
