<nav class="flex gap-20">
  <a href="#home" class="hover:text-text-inverse font-medium">Inicio</a>
  <a href="#about" class="hover:text-text-inverse font-medium">Acerca</a>
  <a href="#projects" class="hover:text-text-inverse font-medium">Proyectos</a>
  <a href="#contact" class="hover:text-text-inverse font-medium">Contacto</a>
</nav>
