---
import NavItem from "./NavItem.astro";
---

<div
  class="w-11/12 bg-gray-800 text-white flex items-center justify-around gap h-12 m-1.5 rounded-full shadow-lg"
>
  <NavItem text={"Home"} href={"/"} />
  <NavItem text={"About"} href={"/about"} />
  <NavItem text={"Contact"} href={"/contact"} />
  <NavItem text={"Projects"} href={"/projects"} />
</div>
