---
const { href, text, icon } = Astro.props;
---

<div
  class="px-4 py-1 flex justify-center cursor-pointer rounded-full shadow-lg hover:shadow-lg/60 hover:bg-gray-600/30 transition-all duration-300"
>
  <a href={href}> </a>
  {text}
</div>
