---
import { Theme } from "../../theme";
const { href, text } = Astro.props;
---

<a
  href={href}
  class={`nav-link px-4 py-1 flex justify-center cursor-pointer rounded-full
         hover:${Theme.primary.bg} hover:${Theme.primary.text} hover:shadow-lg
         transition-all duration-300 font-medium`}
>
  {text}
</a>
